# ===== ENV =====
venv/
.env/

# ===== DATA (NOT INCLUDED IN REPO) =====
src/train/images/
src/val/images/
src/test/images/
src/train/labels/
src/val/labels/
src/test/labels/

# ===== YOLO OUTPUTS =====
runs/
top100_output/

# ===== MODELS =====
*.pt
*.pth

# ===== CACHE =====
*.cache
__pycache__/
*.pyc

# ===== SYSTEM =====
.DS_Store