# ===== ENV =====
venv/
.env/

# ===== DATA (NOT INCLUDED IN REPO) =====
train/
val/
test/

train/labels/
val/labels/
test/labels/

# ===== YOLO OUTPUTS =====
runs/
top100_output/

# ===== MODELS =====
*.pt
*.pth

# ===== CACHE =====
*.cache
__pycache__/
*.pyc

# ===== SYSTEM =====
.DS_Store